body {
    background-color: rgb(0, 0, 0);
    font-family: 'Sulphur Point', sans-serif;
}

.col-2 {
    background-color: #1C1C1C;
}

.col-8 {
    background-color: #1C1C1C;
    color: gold;
}

.movieboxreserve {
    margin-top: 5px;
}

.title {
    color: gold;
    margin-left: 25%;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    text-shadow: 3px 3px 2px gray;
}

.navigationbar {
    color: gold;
    font-size: large;
}

.nav-link {
    color: gold;
    font-size: 30px;
    font-family: 'Sulphur Point', sans-serif;
}

.navbar-nav {
    margin-left: 19%;
}