body {
    background-color: white;
    font-family: 'Sulphur Point', sans-serif;
}

.col-2 {
    background-color: white;
}

.col-8 {
    background-color: white;
    color: black;
}

.title {
    color: gold;
    margin-left: 25%;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    text-shadow: 3px 3px 2px rgb(128, 128, 128);
}

.navigationbar {
    color: gold;
    font-size: large;
    background-color: rgb(49, 47, 48);
}

.nav-link {
    color: gold;
    margin-top: 15px;
    font-family: 'Sulphur Point', sans-serif;
}

.navbarmiddle {
    margin-left: 25%;
    font-size: 40px;
}

.navbarright {
    margin-left: 50%;
    font-size: 20px;
}

.navitem {
    margin-left: 10px;
}

.navbarrightinternal {
    margin-left: 90%;
    font-size: 20px;
}

.aircraftdisplay {
    border-color: rgb(110, 110, 110);
    border-style: solid none none none;
    border-radius: 2px;
}

.aircraftfact {
    margin-top: 5px;
    margin-left: 15px;
}

.aircraftpic {
    margin-top: 5px;
    width: 100%;
}